.searchBar {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.searchIcon {
  color: rgb(116, 116, 116);
  font-size: 17px;
  margin-top: 3px;
  z-index: 1;
  position: relative;
  top: 1.5rem;
}

.searchBarBcg {
  height: 100px;
  width: 465px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  border-radius: 50px;
  display: block;
}

#searchQueryInput {
  width: 82%;
  height: 2.8rem;
  background: var(--offWhite);
  outline: none;
  border: none;
  border-radius: 1.625rem;
  padding: 0 3.5rem 0 1.5rem;
  font-size: 1rem;
  position: relative;
  top: 1.5rem;
  text-decoration: none;
}

#searchQuerySubmit {
  width: 3.5rem;
  height: 2.8rem;
  margin-left: -3.5rem;
  background: none;
  border: none;
  outline: none;
}

#searchQuerySubmit:hover {
  cursor: pointer;
}
